[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
dj-database-url = "*"
"psycopg2" = "*"
requests = "*"
graphene-django = "*"
graphene = "*"
"ciso8601" = "*"
pytz = "*"
gunicorn = "*"
opbeat = "*"


[dev-packages]



[requires]

python_version = "3.6"
